<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/Css/materialize.css" rel="stylesheet" />
    <link href="~/Content/Css/materialize.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>@ViewBag.Title - My ASP.NET Application</title>
</head>
<body>
    <div class="container">
        <nav>
            <div class="nav-wrapper teal">
                <a href="#" class="brand-logo">CINE</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="/Home/Index">Home</a></li>
                    <li><i class="material-icons">search</i></li>
                    <li class=".input-field white-text">
                        <form action="/Home/Search?title=">
                            <div class="background teal">
                                <input class="white-text validate" required="Must" type="text" name="title" value="">
                            </div>
                        </form>
                    </li>
                    <li><a href="/Home/AdvancedSearch">Advanced Search</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="row l12">
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>

    <div class="container">
        <footer class="page-footer teal">
            <div class="container">
                @*<div class="row">
                        <div class="col l6 s12">
                            <h5 class="white-text">Footer Content</h5>
                        </div>
                    </div>*@
            </div>
            <div class="footer-copyright">
                <div class="container">
                    @DateTime.Now.Year . Aplicacion Cine
                </div>
            </div>
        </footer>
    </div>
    <script src="~/Content/Script/jquery-3.3.1.js"></script>
    <script src="~/Scripts/materialize.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
